body {
  background-color: #082B59;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  line-height: 2;
}
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 2rem;
  margin-bottom: 0;
}
/* make images flexible */
img {
  max-width: 100%;
}
a {
  color: #59331d;
}
a:hover {
  text-decoration: none;
}
header {
  border-bottom: 10px solid #d98555;
}
/* navbar styling */
nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
nav li {
  margin: 0 1rem 1rem 1rem;
  font-size: 1.3rem;
}
/* max width on the image in pixels */
nav .logo img {
  max-width: 150px;
}
/* flex basis on the image container, li */
nav .logo {
  flex-basis: 100%;
  text-align: center;
}
nav a {
  color: white;
  text-decoration: none;
  display: block;
}
nav a:hover {
  color: #d98555;
}
/* establishes a white background */
.main-bkgd {
  background: #ffffff url(../media/gulp-bottom-beans.jpg) repeat-x bottom;
  padding-bottom: 300px;
}
/* sits inside of the white background, centered */
.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 20rem;

}
article {
  flex-basis: 73%;
  
}
figure {
  margin: 3rem 0 0 0;
  flex-basis: 25%;
 
}
figure img {
  border-radius: 10px;
  
}

  .image1 {
    display: block
  }

  .image2 {
    display: none
  }
  .image3 {
  display: none;

}
.button {
  display: inline-block;
  background-color: #59331D;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 0;
  color: #f2f2f2;
  text-decoration: none;
  border: 3px solid #59331d;
}
.button:hover {
  background-color: #f2f2f2;
  color: #59331d;
}
footer {
  color: #f2f2f2;
  text-align: center;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
footer a {
  color: #f2f2f2;
  font-size: 2rem;
  display: block;
  margin: 0 1rem 3rem 1rem;
}

@media (max-width: 520px) {
  nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  nav li {
  margin: 0 1rem 2rem 1rem;
    font-size: 1.3rem; }
  
  nav .logo img {
  max-width: 180px;
}
  .main {
  display: flex;
  flex-direction: column; }
  
  figure {
  margin: 3rem 0 0 0;
  flex-basis: 25%;
  background-color: white;
}

figure img {
  display: center; }


  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .tablet {
    display: none;
  }
  .productsfooter {
    color: #f2f2f2;
    text-align: center;
    border-top: none;}
  }
@media (min-width: 520px) and (max-width: 768px) {
  .tablet {
    display: block; }
  .mobile {
    display: none;  }
  .desktop {
      display: none;  }
  article {
  flex-basis: 60%;
 
}
  figure {
  margin: 3rem 0 0 0 ;
  flex-basis: 35%;
  padding-top: 4rem; }

figure img {
  display: flex;
  align-items: center;
  width: 100%;
}
.main-bkgd {
  padding-bottom: 300px;
}
}
@media (min-width: 769px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none; }
  
  .tablet {
      display: none; }
article {
  flex-basis: 50%;
  
}
figure {
  margin: 3rem 0 0 0;
  flex-basis: 45%;
 
  padding-top: 4rem; }

  nav ul {
     padding: 0;
     margin: 0;
     display: flex;
     flex-flow: row;
     justify-content: center;
     align-items: center;
  }
  nav .logo img {
    max-width: 150px;
  }
  nav .logo {
    flex-basis: 100%;
    text-align: center;
    }
  nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;
  }
  nav li {
    align-items: center;
  }
  i {
    padding: 0.5rem; }
    
  figure {
      margin-top: 5rem;
      
  }
}
/*for products page*/

.main-bkgd {
  padding: 1rem;
}
.items {
  background: transparent;
  padding-bottom: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  
}
section{
  background: transparent;
}

article img{
  border-radius: 10px;
}

.card1 {
  padding-right: 1rem;
  padding-left: 1rem;

}
.card2 {
  padding-right: 1rem;

}
.card3 {
  padding-right: 1rem;

}

@media (max-width: 520px) {
  nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  nav li {
  margin: 0 1rem 2rem 1rem;
    font-size: 1.3rem; }
  
  nav .logo img {
  max-width: 180px;
}
  .main {
  display: flex;
  flex-direction: column; }
  
  figure {
  margin: 3rem 0 0 0;
  flex-basis: 25%;
  background-color: white;
  }
  .items {
    background: transparent;
    padding-bottom: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
}
}

/*for contact us page*/
@media (min-width: 769px) {
article {
  box-sizing: border-box;
  margin-top: 10rem;
}
}

@media (min-width: 520px) and (max-width: 768px) {
  article {
    box-sizing: border-box;
    margin-top: 5rem;
    padding-right: 1rem;
    flex-basis: 50%;  }

  figure {
  margin: 3rem 0 0 0 ;
  flex-basis: 50%;
  padding-top: 4rem;
 }

  figure img {
  display: flex;
  align-items: center;
}
}

@media (max-width: 520px) {
    nav ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      }
      nav li {
      margin: 0 1rem 2rem 1rem;
        font-size: 1.3rem; }
      
      nav .logo img {
      max-width: 180px;
    }
  }